:root {
    --admin_blue: #2a4365;
}


a {
    text-decoration: none!important;
}

/* LOGIN PAGE */
.auth__form--container {
    width: 70%;
}

.form-control:focus {
    box-shadow: none!important;
    border-color: #2c7a7b!important;
}

.form__container {
    width: 70%;
}

.custom__form-control {

}

.user__container--svg {
    width: 298px;
    height: 334px;
    border:1px solid #2c7a7b36;
    margin-left: auto;
    margin-right: auto;
}

.user__container--svg .img-teacher {
    width: 290px;
    height: 160px;
}
.user__container--svg .img-student {
    width: 260px;
    height: 150px;
}


.selected__check-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 3.5rem;
}

.selected__check-circle--img {
    margin-left: auto;
    margin-right: auto;
    padding-top: .8rem;
}

.user__container--svg hr {
    border-bottom: 3px solid teal;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    border-top: 0!important;
    margin-top: 0!important;
}

.user__container--svg h1 {
    font-size: 1rem;
}


.btn-login {
    background-color: #2a4365;
    border-color: #2a4365;
}

.btn-login:hover {
    background-color: #2c5282;
    border-color: #2c5282;
}


/* LOGIN PAGE */



/* USER DASHBOARD CSS  */
.dropdown-toggle::after {
    display: none!important;
}

.dropdown-menu .dropdown-item {
    color: #6f767e!important;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.sidebar__header {
    font-size: .8rem;
}

.user__sidebar-profile img {
    border-radius: 50%; 
    width: 50px; 
    height: 50px;
}
.sidebar__contents .list-group .list-group-item {
    border: none;
    padding: 0.2rem .75rem;
}

.md-icon {
    height: 100px;
    width: 50%;
}

.event__icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.event__icon-container i {
    font-size: 1.15rem;
}

.event-time span {
    font-size: .7rem;
}

/* USER DASHBOARD CSS  */


/* PROJECT PAGE */
.extension_img {
    width: 100px;
    height: 100px;
}

.project__posted-by img {
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

/* PROJECT PAGE */


/* PROJECT MEMBERS PAGE */
.project-member__image-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.pj_member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* PROJECT MEMBERS PAGE */

/* FIND PROJECT TOPICS PAGE */

.fd__projects--bg {
    background-image: url('/images/fyp-banner3.jpg');
    background-size: cover;
}

.select__pt--bg {
    background-image: url('/images/select-project-bg.jpg');
    background-size: cover;
    background-position: center;
}

.fyp__resources-bg {
    background-image: url('/images/fyp-guide.gif');
    background-size: cover;
    background-position: center;
}

/* EVENTS PAGE */
.ev__projects--bg {
    background-image: url('/images/event.jpg');
    background-size: cover;
    background-position: center;
}
.btn__event {
    background-color: #38b2ac!important;
    border-color: #38b2ac!important;
}
/* EVENTS PAGE */
/* ../ FIND PROJECT TOPICS PAGE */

/* PROFILE PAGE */
.pf__bg-cover {
    background-image: url('/images/profile-bg.jpg');
    background-size: cover;
    background-position: center; 
}
/* PROFILE PAGE */

/* GROUP PAGE */
.gp__projects--bg {
    background-image: url('/images/group-bg.jpg');
    background-size: cover;
    background-position: center; 
}
/* GROUP PAGE */


.thead-custom {
    background: #2a436a;
    color: #fff;
}

/* --------------- */
/* Admin */
/* --------------- */


.btn-admin {
    color: #fff!important;
    background: #2a436a!important;
    border-color: #2a436a!important;
    box-shadow: none;
}

.bg-admin {
    background: #5f7594!important;
}
.assign__card--container {
    border-radius: 10px;
    position: relative;
    -moz-transition: ease-in-out all 0.35s;
    -o-transition: ease-in-out all 0.35s;
    -webkit-transition: ease-in-out all 0.35s;
    transition: ease-in-out all 0.35s;
}
.assign__card--container div svg {
    fill: var(--admin_blue);
    margin-left: auto;
    margin-right: auto;
}
.aSTUD:hover {
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
    top: -10px;
}
/* --------------- */
/* Admin */
/* --------------- */

